.overlay-white {
  width: 1920px;
  height: 800px;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(to bottom, #ffffff, #ffffff);
}

#menu-top {
  font-family: AvenirNextLTPro-Demi;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  color: #2f3133;
  padding-left: 150px;
}

#menu-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#menu-top li {
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  font-family: AvenirNextLTPro-Demi;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: left;
  color: #092143;
}

header {
  display: flex;
  background: white;
  height: 80px;
  position: sticky;
  top: -16px;
  z-index: 1;
  -webkit-backface-visibility: hidden;
}

body:before,
#top,
body:after {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 9999;
}

body:before {
  content: "";
  display: block;
  z-index: 9997;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

body:after {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  top: 80px;
  height: 3px;
  z-index: 9998;
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: #092143;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-top: 26px;
  padding-left: 550px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

header p {
  width: 30px;
  height: 12px;
  font-family: AvenirNextLTPro-Demi;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: left;
  color: #092143;
  padding-left: 600px;
  padding-top: 25px;
}

#arr {
  padding-bottom: 4px;
  padding-left: 7px;
}

#envir-logo {
  width: 200px;
  height: 100px;
  object-fit: contain;
  padding-left: 50px;
}

#sea {
  height: 810px;
  width: 560px;
  position: absolute;
  top: 700px;
  left: 1200px;
}

#sea-el {
  height: 810px;
  background-color: #092143;
}

#sea p {
  font-family: PlayfairDisplay;
  font-size: 22px;
  line-height: 1.82;
  color: #d3dae5;
  padding-top: 15%;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 0px;
}

section {
  padding-top: 100px;
}

section h2 {
  padding-bottom: 30px;
}

#loe {
  opacity: 0.4;
  font-family: AvenirNextLTPro-Demi;
  font-size: 12px;
  line-height: 5.33;
  letter-spacing: 4.8px;
  text-align: left;
  color: rgba(9, 33, 67, 0.4);
  text-transform: uppercase;
  position: absolute;
  top: 1620px;
  left: 800px;
}

#fishy1 {
  width: 113px;
  height: 117px;
  object-fit: contain;
  opacity: 0.46;
  position: relative;
  -webkit-animation-name: example;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: 100;
  /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: 100;
}

@keyframes example {
  0% {
    left: 200px;
    bottom: 500px;
  }
  25% {
    left: 0px;
    bottom: 200px;
  }
  50% {
    left: 200px;
    bottom: 200px;
  }
  75% {
    left: 200px;
    bottom: 100px;
  }
  100% {
    left: 200px;
    bottom: 500px;
  }
}
#fishy2 {
  width: 90px;
  height: 41px;
  object-fit: contain;
  opacity: 0.28;
  position: relative;
  -webkit-animation-name: example2;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: 100;
  /* Safari 4.0 - 8.0 */
  animation-name: example2;
  animation-duration: 10s;
  animation-iteration-count: 100;
}

@keyframes example2 {
  0% {
    left: 100px;
    bottom: 600px;
  }
  25% {
    left: 300px;
    bottom: 400px;
  }
  50% {
    left: 200px;
    bottom: 250px;
  }
  75% {
    left: 300px;
    bottom: 400px;
  }
  100% {
    left: 100px;
    bottom: 600px;
  }
}
article {
  padding-left: 260px;
  padding-right: 250px;
}

h2 {
  padding-left: 85px;
  padding-top: 30px;
  font-family: AvenirNextLTPro-Demi;
  font-size: 20px;
  letter-spacing: 4px;
  text-align: left;
  color: #092143;
  text-transform: uppercase;
}

#text li {
  margin: 50px;
  width: 400px;
  font-family: PlayfairDisplay;
  font-size: 20px;
  line-height: 1.7;
  text-align: left;
  color: #092143;
}

#text li p {
  opacity: 0.4;
  font-family: AvenirNextLTPro-Demi;
  font-size: 12px;
  line-height: 5.33;
  letter-spacing: 4.8px;
  text-align: left;
  color: rgba(9, 33, 67, 0.4);
  text-transform: uppercase;
}

#text {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#vota {
  width: 324px;
  height: 73px;
  background-color: #092143;
  border-radius: 25px 0px;
  font-family: AvenirNextLTPro-Demi;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#bottom p {
  font-family: AvenirNextLTPro-Demi;
  font-size: 14px;
  text-align: center;
  color: #2f3133;
  padding: 40px;
}

#eka-logo {
  width: 157px;
  height: 46px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: grayscale(100%);
}

#menu-bot ul {
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  color: #2f3133;
}

#menu-bot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}

#menu-bot li {
  font-family: AvenirNextLTPro-Demi;
  padding: 15px;
  text-transform: uppercase;
}

footer {
  height: 60px;
  background-color: #e7e8ea;
  display: flex;
  padding-top: 20px;
}

#left {
  padding-left: 15px;
  display: flex;
  text-align: left;
  font-family: AvenirNextLTPro-Demi;
  font-size: 11px;
  color: #838485;
}

#left p {
  padding-left: 10px;
  margin-bottom: 2px;
}

#right {
  padding-left: 1000px;
  padding-right: 15px;
  display: flex;
  text-align: right;
  font-family: AvenirNextLTPro-Demi;
  font-size: 11px;
  color: #838485;
}

#right p {
  padding-left: 10px;
  margin-bottom: 2px;
}

#ws {
  padding-left: 10px;
  padding-top: 10px;
  width: 17px;
  height: 16px;
  object-fit: contain;
  opacity: 0.3;
}

#land {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  width: 950px;
  height: 500px;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("https://fonts.google.com/specimen/Playfair+Display");
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../font/AvenirNextLTPro-Demi.ttf") format("truetype");
}
/* slideshow */
* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

.mySlides {
  display: none;
}

#slide img {
  vertical-align: middle;
  opacity: 0.4;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 1043px;
  position: relative;
  margin: auto;
}

/* Caption text */
.slide-text {
  position: absolute;
  font-family: AvenirNextLTPro-Demi;
  font-size: 50px;
  line-height: 1.52;
  text-align: left;
  color: #092143;
  width: 100%;
  bottom: 150px;
  padding: 50px;
  padding-bottom: 200px;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* dots */
.circle {
  position: absolute;
  border-radius: 50%;
}

span.popup {
  height: 0;
  color: #fff;
  position: relative;
  cursor: pointer;
}
span.popup:after {
  content: attr(data-popuptext);
  background: #092143;
  border-radius: 15px;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  transition: 500ms ease;
  white-space: nowrap;
  max-height: 0;
}
span.popup:hover:after {
  opacity: 1;
  top: 1.2em;
  max-height: 200px;
  padding: 5px;
}

.c1, .c2, .c3, .c4, .c5, .c6 {
  width: 16px;
  height: 16px;
  background: white;
}

.c7, .c8, .c9, .c10, .c11, .c12 {
  width: 32px;
  height: 32px;
  opacity: 0.5;
  background: white;
}

.c1 {
  margin-left: 386px;
  margin-top: 1380px;
}

.c2 {
  margin-left: 490px;
  margin-top: 1426px;
}

.c3 {
  margin-left: 414px;
  margin-top: 1476px;
}

.c4 {
  margin-left: 530px;
  margin-top: 1515px;
}

.c5 {
  margin-left: 610px;
  margin-top: 1515px;
}

.c6 {
  margin-left: 600px;
  margin-top: 1604px;
}

.c7 {
  margin-left: 378px;
  margin-top: 1372px;
}

.c8 {
  margin-left: 482px;
  margin-top: 1418px;
}

.c9 {
  margin-left: 406px;
  margin-top: 1468px;
}

.c10 {
  margin-left: 522px;
  margin-top: 1507px;
}

.c11 {
  margin-left: 602px;
  margin-top: 1507px;
}

.c12 {
  margin-left: 592px;
  margin-top: 1596px;
}

/*# sourceMappingURL=style.css.map */
